#totalTransactionChart .apexcharts-series[rel="2"] {
  transform: translateX(5px);
}

#weeklySalesChart .apexcharts-series[rel="2"] {
  transform: translateY(-8px);
}

[dir=core-css] #projectTimelineChart .apexcharts-canvas .apexcharts-yaxis text {
  text-anchor: end;
}

[dir=core-css] #salesCountryChart .apexcharts-data-labels text {
  text-anchor: end;
}
